<header class="bg-white shadow-md">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="navbar-left">
            <ul class="hidden md:flex space-x-6">
                <li><a routerLink="/" class="text-gray-700 hover:underline"> Home </a></li>
                <li><a routerLink="/about-us" class="text-gray-700 hover:underline">About us</a></li>
                <li><a routerLink="/services" class="text-gray-700 hover:underline">Services</a></li>
            </ul>
        </div>

        <div class="navbar-right">
            <ul class="hidden md:flex space-x-6">
                <li class="navbar-email">autoinvoice_user&#64;gmail.com</li> <!-- Here will be the current username or email-->
                <li><button (click)="login()" class="text-gray-900" class="login-botton">Log in/ sign in</button></li>
            </ul>
        </div>
    </nav>
</header>